<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Icf.ProPresenter.KidsCall.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ProPresenterKidsCallAdapter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Icf.ProPresenter.KidsCall.Properties.Settings>
            <setting name="StartupLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StartupTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ProPresenterUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="WebUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="WebPassword" serializeAs="String">
                <value />
            </setting>
        </Icf.ProPresenter.KidsCall.Properties.Settings>
        <ProPresenterKidsCallAdapter.Properties.Settings>
            <setting name="StartupLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StartupTop" serializeAs="String">
                <value>0</value>
            </setting>
        </ProPresenterKidsCallAdapter.Properties.Settings>
    </userSettings>
</configuration>